<div class="user">
    <div class="user-image">
    <% if user.photo %>
        <%= image_tag user.photo %>
    <% end %>
    </div>
    <div class="user-info">
        <h1><%= user.name %></h1>
        <h3>Number of posts: <%= user.posts_counter %></h3>
    </div>
</div>