/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notice {
  color: green;
  text-align: center;
  font-size: 1.5rem;
}

.back {
  font-size: 1.5rem;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding: 10px;
}

.user div {
  border: black 1px solid;
}

.user-image {
  width: 100px;
  height: 100px;
}

.user-image img {
  width: 100px;
  height: 100px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  height: 100px;
}

.user-info h3 {
  align-self: end;
}

.bio {
  margin: 10px;
  padding: 10px;
  border: black 1px solid;
}

.post {
  border: black 1px solid;
  margin: 10px;
  padding: 10px;
}

.post div {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: end;
  padding-right: 5%;
}

.btn-container {
  display: flex;
}

.btn {
  text-decoration: none;
  padding: 5px 10px;
  font-weight: bold;
  justify-self: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

.comments {
  border: black 1px solid;
  margin: -10px 10px 30px;
  padding: 10px;
}

.show-post {
  border: black 1px solid;
  margin: 10px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  gap: 50px;
}

.post-content {
  padding: 10px;
}

.form-container {
  padding: 0 5%;
}
